[flake8]
max-line-length = 88
extend-ignore = E203, W503, E501
exclude =
    .git,
    __pycache__,
    .venv,
    .eggs,
    *.egg,
    build,
    dist,
    .github,
    .pytest_cache,
    .mypy_cache,
    cdda_maped.egg-info
per-file-ignores =
    __init__.py:F401
